* { 
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.box {position: relative;}
#p0 {margin-top: 25px;
	border: 7px black;}
.pn {position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 25px;
    text-align: center;
	margin: 5px;}
#p1 {background-color: orange;}
#p2 {background-color: green;}
#p3 {background-color: maroon;}
div{float: left;
	margin-right: 1px;
	margin-bottom: 1px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
	text-align: center;
	color: maroon;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 15px;
}
@media (min-width: 992px)
{.col-lg-4
	{float: left;
	 background-color: grey;
	 border: 5px solid black;
	 margin: 0.4%;}
}	
.col-lg-4{width: 32%;}
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6,.col-md-12
	{border: 5px solid black;
	 margin: 0.4%;}
	.col-md-6{float: left;
		      width: 49%;
			  background-color: grey;}
	.col-md-12{width: 99.2%;
		      float: left;
		      background-color: grey;}
}
@media (max-width: 767px){
	    .col-sm-12{
		float: left;
		background-color: grey;
		width: 99.2%;
		border: 5px solid black;
		margin: 0.4%;	
		}
}